@font-face {
  font-family: MontLight;
  src: url("/fonts/Mont-ExtraLightDEMO.otf") format("opentype");
}

@font-face {
  font-family: MontHeavy;
  src: url("/fonts/Mont-HeavyDEMO.otf") format("opentype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
}

.container-header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
}

.icon-header {
  width: 130px;
}

.container-nav {
  display: flex;
  gap: 1rem;
}

.nav-link {
  padding: 1rem 1.5rem;
  background-color: #333;
  color: #fff;

  border-radius: 10px;
}

.nav-link:hover {
  background-color: #555;
}

li:last-child .nav-link {
  background-color: #b10707;
  font-weight: 700;
}

li:last-child .nav-link:hover {
  background-color: #830c0c;
}

.socials {
  position: relative;
  left: 60px;
  bottom: -25px;

  display: flex;
  gap: 1rem;
}

.social {
  width: 20px;
}

.hero {
  display: block;
  height: 80vh;
  width: 100vw;
  position: relative;
  color: #fff;

  display: flex;
  align-items: center;
  justify-content: start;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 1.5rem;

  padding: 2rem;
  margin-bottom: 3rem;
  width: 40%;
}

.hero-text {
  font-weight: 600;
}

.hero-btn {
  padding: .7rem 1.5rem;
  background-color: #b10707;
  color: #fff;
  font-weight: 700;

  border-radius: 10px;
}

.hero-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
  z-index: -1;

  background-image: url('/images/Hero-img.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  filter: brightness(50%);
}

.program-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  margin-bottom: 4rem;
  width: 500px;
  text-align: center;
}

.program-img {
  width: 400px;
  border-radius: 10px;
  box-shadow: 1px 10px 10px 1px rgba(0, 0, 0, 0.107);
}


@media(max-width: 1048px) {
  a {
    font-size: 14px;
  }

  .nav-link {
    padding: .7rem 1.2rem;
  }

  .socials {
    left: 35px;
    bottom: -20px;
  }
}