@font-face {
  font-family: MontLight;
  src: url("/fonts/Mont-ExtraLightDEMO.otf") format("opentype");
}

@font-face {
  font-family: MontHeavy;
  src: url("/fonts/Mont-HeavyDEMO.otf") format("opentype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
}

fieldset {
  border: none;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
}

.container-header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
}

.icon-header {
  width: 130px;
}

.container-nav {
  display: flex;
  gap: 1rem;
}

.icon-hamburger-svg {
  width: 36px;
  fill: #333;
}

.hamburger-open {
  fill: #333;
}

.hamburger-close {
  fill: #fff;
}

.open-menu,
.close-menu {
  cursor: pointer;
  display: none;
}

.nav-link {
  padding: 1rem 1.5rem;
  background-color: #333;
  color: #fff;
  transition: 0.15s ease-in-out;

  border-radius: 10px;
}

.nav-link:hover {
  background-color: #555;
}

li:last-child .nav-link {
  background-color: #b10707;
  font-weight: 700;
}

li:last-child .nav-link:hover {
  background-color: #830c0c;
}

.socials {
  position: relative;
  left: 60px;
  bottom: -25px;

  display: flex;
  gap: 1rem;
}

.social,
.quick-access-icon {
  width: 20px;
}

.hero {
  display: block;
  height: 80vh;
  width: 100vw;
  position: relative;
  color: #fff;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: -4rem;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1.5rem;

  padding: 2rem;
  margin-bottom: 3rem;
  width: 1600px;
}

.hero-title {
  max-width: 45%;
}

.hero-text {
  font-weight: 600;
  max-width: 40%;
}

.hero-btn {
  padding: .7rem 1.5rem;
  background-color: #b10707;
  color: #fff;
  font-weight: 700;

  border-radius: 10px;
}

.hero-btn:hover {
  background-color: #830c0c;
}

.hero-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
  z-index: -1;

  background-image: url('/images/Hero-img.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  filter: brightness(50%);
}

.programs {
  margin-bottom: 98px;
}

.programs-title,
.reviews-title {
  text-align: center;
  margin-bottom: 3rem;

  font-size: 40px;
}

.program-card,
.review-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  width: 350px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 1.5rem;
}

.program-img {
  width: 350px;
  border-radius: 10px;
  box-shadow: 1px 10px 10px 1px rgba(0, 0, 0, 0.107);
}

.program-text {
  margin-bottom: .5rem;
}

.program-card a,
.review-card a,
.about-link {
  padding: .75rem 1.5rem;
  background-color: #b10707;
  color: #fff;
  border-radius: 10px;
  font-weight: 600;
}

.program-card a:hover,
.review-card a:hover,
.about-link:hover {
  background-color: #830c0c;
}

.form {
  background-color: #444;
  color: #fff;
  padding: 8rem 0;
}

.form-title {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 40px;
}

.form-container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.form-info {
  display: flex;
  gap: 2rem;
}

.form-input {
  padding: .75rem 1em;
  width: 40vw;
  max-width: 24rem;
  background-color: #eee;

  border: none;
  border-radius: 10px;
}

.form-submit {
  background-color: #b10707;
  cursor: pointer;
  border: none;
  color: #fff;
  font-weight: 700;
  border-radius: 10px;

  padding: .75rem 1.5rem;
}

.form-submit:hover {
  background-color: #830c0c;
}

.about-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 4rem;

  padding: 0 2rem;
  margin-top: 98px;
  margin-bottom: 98px;
}

.about-article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.about-article p:last-of-type {
  margin-bottom: 1rem;
}

.about-container img {
  width: 30%;
  height: 70%;
}

.reviews {
  padding: 98px 0;
  background-color: #4287f5;
}

.review-card {
  padding: 2rem 1rem;
  border-radius: 20px;
  box-shadow: 1px 10px 10px 1px rgba(0, 0, 0, 0.107);
  background-color: #333;
}

.reviews-title {
  color: #fff;
}

.review-img {
  width: 100px;
  border-radius: 100px;
}

.review-name,
.review-text {
  color: #fff;
}

.reviews div div .swiper-wrapper {
  margin-bottom: 2rem;
}

.quick-access {
  margin: 98px 0;
}

.quick-access-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.quick-access-content {
  display: flex;
  gap: 4rem;
  justify-content: center;
}

.quick-access-contact {
  max-width: 125px;
}

.quick-access-container h4 {
  font-size: 24px;
  color: #333;
}

.quick-access-container ul {
  line-height: 25px;
}

.quick-access-container a {
  display: flex;
  gap: .5rem;

  color: #777;
  fill: #777;
}

.quick-access-socials li {
  margin-bottom: 5px;
}

@media(max-width: 1048px) {
  a {
    font-size: 14px;
  }

  .nav-link {
    padding: .7rem 1.2rem;
  }

  .socials {
    left: 35px;
    bottom: -20px;
  }
}

@media(max-width: 880px) {
  .container-header {
    padding-left: 8vw;
    padding-right: 8vw;
  }

  .icon-header {
    width: 160px;
  }

  .container-nav {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 100;
    background-color: #333;

    transition: all 0.2s ease-in-out;
  }

  .nav-item:last-of-type {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .nav-item {
    margin-bottom: 40px;
  }

  .nav-link {
    font-size: 20px;
    padding: 1.5rem 2rem;
  }

  .socials {
    gap: 4rem;
    text-align: center;
    left: 10px;
  }

  .social {
    fill: #fff;
    margin-top: 100px;
    width: 40px;
  }

  .open-menu {
    display: block;
  }

  .close-menu {
    position: absolute;
    top: 40px;
    right: 40px;
  }

  .hero-content {
    align-items: center;
  }

  .hero-title,
  .hero-text {
    max-width: 80%;
    text-align: center;
  }

  .about-container {
    flex-direction: column-reverse;
  }

  .about-container img {
    width: 300px;
  }

  .about-article {
    text-align: center;
  }
}
